<div>
    <h3>Welcome! Join my Test Forum</h3>

    <button ng-click="login()">Login with <span style="color:blue">G</span><span style="color:red">o</span><span style="color:yellow">o</span><span style="color:blue">g</span><span style="color:green">l</span><span style="color:red">e</span></button>
    
    
    <!--Used for email and password authentication...
    <form name="login">
        <input type="email" ng-model="userEmail" placeholder="Gmail address" required/>
        <input type="password" ng-model="userPassword" placeholder="Password" required/>
        <button ng-disabled="login.$invalid" ng-click="login(email, password)">Login</button>
    </form>-->
</div>